<h1>NLC Result</h1>

<% @record.categories.each do |f| %>
    <p>Category: <%= f.name %></p> 
    <p>Confidence: <%= f.confidence %></p> 
<% end %>

<div>
<button type="button" class="main-button"><%= link_to "View Classification Entries", all_path, :class=>"main-button-text"%></button>
</div> 
