<h1> NLC API Menu </h1> 

<div>
<button type="button" class="btn btn-outline-primary"><%= link_to "View Classification Entries", all_path%></button>
</div> 

<div>
<button type="button" class="btn btn-outline-primary"><%= link_to "Query Classification Test",query_path %></button>
</div>


<div>
<button type="button" class="btn btn-outline-primary"><%= link_to "Create A Classifier",classifiers_new_path %></button>
</div> 


<div>
<button type="button" class="btn btn-outline-primary"><%= link_to "Show All Classifiers", classifiers_path %></button>
</div> 