<div class="home-page">
    <h1> NLC API Menu </h1> 
        <div>
            <button type="button" class="main-button"><%= link_to "View Classification Entries", all_path, :class=>"main-button-text" %></button>
        </div> 
        <div>
            <button type="button" class="main-button"><%= link_to "Query Classification Test",query_path, :class=>"main-button-text"  %></button>
        </div>
        <div>
            <button type="button" class="main-button"><%= link_to "Create A Classifier",classifiers_new_path, :class=>"main-button-text"  %></button>
        </div> 
        <div>
            <button type="button" class="main-button"><%= link_to "Show All Classifiers", classifiers_path, :class=>"main-button-text" %></button>
        </div> 
</div>